<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Management</title>

    <!-- css file link  -->
    <link rel="stylesheet" href="./css/style.css">


    <!--========== Fontawesome cdn ==========-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="./js/vendor/swal2.js"></script>


</head>

<body>

    <header class="header">

        <!---------navbar------------------------------>
        <div>
            <a class="icons" onclick="myFunction()">
                <i class="fa fa-bars" id="menu-btn"></i>
            </a>
        </div>


        <nav class="navbar" id="nav">



            <a href="ideas.html">
                <div class="nav-item">
                    <p>Ideas</p>
                </div>
            </a>
            <a href="stats.html">
                <div class="nav-item nav-stats-link">
                    <p>Stats</p>
                </div>
            </a>
            <a href="app_management.html">
                <div class="nav-item active nav-manage-link">
                    <p>Manage</p>
                </div>
            </a>
            <a href="submit.html">
                <div class="nav-item nav-submit-link">
                    <p>Submit-Idea</p>
                </div>
            </a>
            <a href="contact.html">
                <div class="nav-item nav-contact-link">
                    <p>Contact</p>
                </div>
            </a>
            <a href="profile.html">
                <div class="nav-item">
                    <p>Profile</p>
                </div>
            </a>
        </nav>


        <div class="user-info">

            <div class="vertical-line"></div>
            <div class="content">
                <img src="images/profile.jpg" alt="">
                <p class="nav-username">Chikondi Banda</p>

                <a href="login.html" title="Log Out" id="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

            </div>
        </div>

        <!-------------navbar ends here--------------------->

    </header>


    <!---------edit categories section------------------------------>

    <section class="categories" id="high-priv-part1">
        <p>Idea Categories</p>
        <div class="table-container">
            <table class="categories-table">
                <thead class="table-head">
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="categories-tbody">

                </tbody>
            </table>
            <div class="buttons">
                <button class="button" onclick="addNewCategory()"><i class="fas fa-plus"></i> Add New</button>
            </div>
        </div>


    </section>

    <section class="ban-users">

        <h1 id="user-list-heading">System Users List</h1>
        <!---------Ban users table------------>
        <div class="table-container">
            <table class="ban-table">
                <thead class="table-head">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Last Log In Date</th>
                        <th>Account Type</th>
                        <th>Active</th>

                    </tr>
                </thead>
                <tbody id="users-tbody">
                    <tr class="row">
                        <td>J.Miles</td>
                        <td>Academic</td>
                        <td><i class="fas fa-ban"></i></td>
                    </tr>
                    <tr class="row">
                        <td>Theresa.N</td>
                        <td>Academic</td>
                        <td><i class="fas fa-ban"></i></td>
                    </tr>
                    <tr class="row">
                        <td>Keran.P</td>
                        <td>Support</td>
                        <td><i class="fas fa-ban"></i></td>
                    </tr>
                    <tr class="row">
                        <td>Jane.M</td>
                        <td>Academic</td>
                        <td><i class="fas fa-ban"></i></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </section>

    <section id="qa-coord-section">
        <h1 id="ideas-count">Total Ideas Posted From Your Department: </h1>
        <br>
        <h1 id="comments-count">Total Comments Posted From Your Department: </h1>
    </section>

    <!---------reported posts table------------>


    <div class="reports" id="high-priv-part2">
        <h1>Reported Posts</h1>
        <div class="table-container" id="reports-container">
            <table class="reports-table">
                <thead class="table-head">
                    <tr>
                        <th>Reported By</th>
                        <th>Idea</th>
                        <th>Report Content</th>
                        <th>Report Time</th>

                    </tr>
                </thead>
                <tbody id="reports-tbody">


                </tbody>
            </table>


        </div>
    </div>

    <section class="admin" id="high-priv-part3">
        <p>Closure Dates</p><br>
        <div class="closure">
            <div class="closure-date">
                <p>Closure Date:</p>
                <input type="date" id="closure-date">
            </div>
            <div class="fclosure">
                <p>Final Closure Date:</p>
                <input type="date" id="fclosure">
            </div>
            <br>
            <button class="button" onclick="updateClosureDates()"><i class="fas fa-save"></i> Save Changes</button>
        </div>

        <br>


        
        <button style="padding: 2rem; border-radius: 10px;" id="download-documents-zipped-btn"></button>


        <label style="margin-top: 2rem;" for="export-table">Select table to export as CSV FILE:</label>
        <select name="export-table" id="export-table">
            <option value="users" label="users"></option>
            <option value="ideas" label="ideas"></option>
            <option value="comments" label="comments"></option>
            <option value="idea_documents" label="idea_documents"></option>
            <option value="idea_categories" label="idea_categories"></option>
            <option value="user_roles" label="user_roles"></option>
            <option value="staff_type" label="staff_type"></option>
            <option value="departments" label="departments"></option>
            <option value="reported_posts" label="reported_posts"></option>
            <option value="like_and_dislikes" label="like_and_dislikes"></option>
        </select>
        <button style="padding: 2rem; border-radius: 10px;margin-top: 2rem;" id="download-csv-btn"></button>
       
    </section>

    <footer>
        <div class="info">
            <div class="contact-details">
                <h2>Contact us</h2>
                <br>
                <p>Phone : +2600000000</p>
                <p>Email : uog.2023.ewsd.group1@gmail.com</p>
                <br><br>
            </div>


        </div>

        <p class="copyright">&#169 2023 All Rights Reseved</p>

    </footer>

    <script defer src="./js/navbar.js"></script>
    <script defer src="./js/app_management.js"></script>
</body>

</html>