<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- css file link  -->
    <link rel="stylesheet" href="./css/style.css">


    <!--========== Fontawesome cdn ==========-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- js file link  -->



</head>

<body>

    <header class="header">

        <!---------navbar------------------------------>
        <div>
            <a class="icons" onclick="myFunction()">
                <i class="fa fa-bars" id="menu-btn"></i>
            </a>
        </div>


        <nav class="navbar" id="nav">



            <a href="ideas.html">
                <div class="nav-item">
                    <p>Ideas</p>
                </div>
            </a>
            <a href="stats.html">
                <div class="nav-item nav-stats-link">
                    <p>Stats</p>
                </div>
            </a>
            <a href="app_management.html">
                <div class="nav-item nav-manage-link">
                    <p>Manage</p>
                </div>
            </a>
            <a href="submit.html">
                <div class="nav-item nav-submit-link">
                    <p>Submit-Idea</p>
                </div>
            </a>
            <a href="contact.html">
                <div class="nav-item">
                    <p>Contact</p>
                </div>
            </a>
            <a href="profile.html">
                <div class="nav-item active">
                    <p>Profile</p>
                </div>
            </a>
        </nav>


        <div class="user-info">

            <div class="vertical-line"></div>
            <div class="content">
                <img src="images/profile.jpg" alt="">
                <p class="nav-username">Chikondi Banda</p>

                <a href="login.html" title="Log Out" id="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

            </div>
        </div>

        <!-------------navbar ends here--------------------->

    </header>


    <!-------------EDIT PROFILE SECTION--------------------->
    <section class="profile-info">
        <div class="container">
            <div class="info">
                <div class="image">
                    <img src="images/profile.jpg" alt="">
                </div>
                <div class="job-info">
                    <p class="name" id="fullname">Chikondi Banda</p>
                    <p class="title" id="role">Administrator</p>
                    <p class="department" id="staff_type">Support</p>
                </div>

            </div>
            <div class="login-details">
                <p class="login" id="last_log_in"><i class="far fa-clock"></i>Last Login Date : 17th October, 2023</p>
            </div>


    </section>

    <section class="edit-details">

        <!---------edit form section------------------------------>
        <br>
        <br>

        <div class="anonymous-setting-switch">

        </div>

        <div class="edit-form">
            <form class="form">
                <h2>Edit Account Details</h2>
                <br>

                <br>
                <p>First Name:
                    <input class="textbox" name="fname" type="fname" id="fname-edit" placeholder="First Name"><br>
                </p>
                <br>
                <p>Last Name:
                    <input class="textbox" name="lname" type="lname" id="lname-edit" placeholder="Last Name"><br>
                </p>
                <br>
                <p>Email:
                    <input class="textbox1" name="email" type="email" id="email-edit" placeholder="Email"><br>
                </p>

                <br>

                <button class="button save" type="button" id="edit-save-btn">Save Changes</button>
            </form>


        </div>

        <div class="change-password-form">
            <form class="form">
                <h2>Change password</h2>
                <br>

                <br>
                <p>New password:
                    <input class="textbox" name="fname" type="fname" id="newpass" placeholder="Enter New password"><br>
                </p>
                <br>
                <p>Confirm new password:
                    <input class="textbox" name="lname" type="lname" id="confirm-newpass"
                        placeholder="Re-enter new password"><br>
                </p>

                <br>

                <button class="button save" type="button" id="change-pass-btn">Save Changes</button>
            </form>
        </div>
    </section>

    <!-------------edit profile ends here--------------------->


    <footer>
        <div class="info">
            <div class="contact-details">
                <h2>Contact us</h2>
                <br>
                <p>Phone : +2600000000</p>
                <p>Email : uog.2023.ewsd.group1@gmail.com</p>
                <br><br>
            </div>


        </div>

        <p class="copyright">&#169 2023 All Rights Reseved</p>

    </footer>

    <script defer src="./js/profile.js"></script>
    <script defer src="./js/navbar.js"></script>

</body>

</html>