<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>

    <!-- css file link  -->
    <link rel="stylesheet" href="./css/style.css">


    <!--========== Fontawesome cdn ==========-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>

    <header class="header">

        <!---------navbar------------------------------>
        <div>
            <a class="icons" onclick="myFunction()">
                <i class="fa fa-bars" id="menu-btn"></i>
            </a>
        </div>


        <nav class="navbar" id="nav">

            <a href="ideas.html">
                <div class="nav-item">
                    <p>Ideas</p>
                </div>
            </a>
            <a href="stats.html">
                <div class="nav-item active nav-stats-link">
                    <p>Stats</p>
                </div>
            </a>
            <a href="app_management.html">
                <div class="nav-item nav-manage-link">
                    <p>Manage</p>
                </div>
            </a>
            <a href="submit.html">
                <div class="nav-item nav-submit-link">
                    <p>Submit-Idea</p>
                </div>
            </a>
            <a href="contact.html">
                <div class="nav-item">
                    <p>Contact</p>
                </div>
            </a>
            <a href="profile.html">
                <div class="nav-item">
                    <p>Profile</p>
                </div>
            </a>
        </nav>


        <div class="user-info">

            <div class="vertical-line"></div>
            <div class="content">
                <img src="images/profile.jpg" alt="">
                <p class="nav-username">Chikondi Banda</p>

                <a href="login.html" title="Log Out" id="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

            </div>
        </div>

        <!-------------navbar ends here--------------------->

    </header>

    <div class="statistics">
        <!-------------visual charts--------------------->
        <div class="charts">
            <div class="ideas-numbers" id="ideas-numbers" style="width: 100%; height: 300px;"></div>
            <br>
            <div class="piechart" id="piechart" style="width: 100%; height: 300px;"></div>
            <br>

            <div class="contributor-numbers" id="contributor-numbers" style="width: 100%; height: 300px;"></div>

        </div>


        <!-------------exception reports--------------------->
        <div class="exception-reports">
            <div class="reports">
                <h2>Exception Reports</h2>
                <br>
                <p class="number-comment" id="ideas-without-comments">No data</p>
                <p>Ideas without comments</p>
                <br>
                <p class="number-comment" id="anonymous-ideas">No data</p>
                <p>Anonymous Posts</p>
                <br>
                <p class="number-comment" id="anonymous-comments">No data</p>
                <p>Anonymous comments</p>
            </div>

        </div>
    </div>



    <footer>
        <h2>Contact us</h2>
        <p>Phone : +2600000000</p>
        <p>Email : uog.2023.ewsd.group1@gmail.com</p>
        <br><br>
        <p>&#169 2023 All Rights Reseved</p>

    </footer>
    <script defer src="./js/navbar.js"></script>
    <script defer src="./js/stats.js"></script>
</body>

</html>