<!DOCTYPE HTML>
<html>

<head>
    <Title>Terms and Conditions</Title>
    <link rel="Stylesheet" type="text/css" href="./css/style.css">
    <meta Name="viewport" content="width=device-width,initial-scale=1.0">


    <!--========== Fontawesome cdn ==========-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body class="tc-background">
    <hr>

    <div id="scroll">
        <h1 style="text-align:center;font-size:200%;"><u><i>Terms and conditions</i></u></h1>
        <p>
        <h2>1. <u>Introduction</u></h2>
        <p> The specific terms that are included to this agreement (and form part of this agreement)
            and the personalized offer letters that provide additional details about employment, such as
            job title, grade, rate of pay, hours worked, and the date of commencement of duties including
            continuous employment date, should be read in addition to these terms and conditions of employment,
            which apply to all staff members.
        </p>

        <H2>2. <u>Job description</u></H2>
        <P>
            Each employee should have a job description, which will be given to them when they start working for
            the university. Job descriptions will only be taken into consideration as a guide to the accountabilities
            associated with the role, not as exact or comprehensive specifications of duties and responsibilities.
            Staff members must also complete any additional or alternative tasks that the university deems necessary
            from time to time in order to properly perform their duties. They must also take any training that the
            university deems necessary.
        </P>

        <h2>3. <u>Permanent employment</u></h2>
        <P>
            <B>3.1</B> Offer letters will make reference to any prior employment with the University or a previous
            employer, such as NHS Trusts, that is to be counted toward the period of continuous service.
            <BR>
            <br>
            <B>3.2</B> The university will take into account prior service for the purpose of calculating maternity
            benefits for staff members transferring directly from another university within the European
            Economic Area. The period of continuous employment for statutory purposes will begin on their
            start date with the University of Bristol for all other contractual and legal purposes.
        </P>

        <H2>4. <u>Salary</u></H2>
        <p>
            <B>4.1</B> Basic salary accrues over time and is paid monthly by credit transfer into a staff member's
            designated bank or building society account, typically on the 26th day of each calendar month,
            after deductions for tax, national insurance, and any other agreed-upon or legally required
            deductions, including, as necessary, deductions for pension contributions.
            <br>
            <br>
            <B>4.2</B> Annual reviews of the University's pay structure are conducted, and any revisions typically
            take effect on August 1 of each year.
            <br>
            <br>
            <B>4.3</B> Associate Professors and Grade M employees are the only exceptions. All other staff,
            with the exception of those two groups, will advance yearly on the pertinent incremental
            date to the highest service increment point applicable to their grade, barring circumstances
            in which subpar performance has already been proven through the application of the Capability Procedure.
        </p>

        <H2>5. <u>Deduction</u></H2>
        <p>
            According to the Employment Rights Act of 1996, the University is
            permitted to deduct from a staff member's salary any amounts owed,
            including overpayments for loans or advances made to them by the
            University and overpayments for annual leave taken in excess of
            their entitlement. Without first informing the person,
            no deductions will be made.
        </p>

        <h2>6. <u>work environment</u></h2>
        <p>
            The University reserves the right to require staff to work temporarily or
            permanently at any other place of work or location that the University may
            reasonably require. A member of staff's regular place of employment will
            be such sites of the University and associated NHS Trusts as are requested.
            A staff member may be required to travel both domestically and abroad as part
            of their duties.
        </p>

        <h2>7. <u>sickness</u></h2>
        <p>
            <b>7.1 </b>Staff must call the university as soon as possible (typically by 10 a.m.)
            on the first working day of their absence to notify it that they won't be
            able to report to work due to illness or another incapacity. Staff members
            must specify their absence's cause, their anticipated return date, and/or
            the time they will next contact you with more details.
            <br>
            <br>
            A staff member who has been absent due to illness is required to submit a
            self-certification form to the university upon their return.
            If the absence lasts for eight days or longer in a row (including weekends),
            the student must submit a fit note to the university, which must be issued
            by a specific healthcare professional. To cover the entire absence,
            additional fit notes will be needed. The staff member is accountable
            for updating the University on their whereabouts and anticipated return date.
            <br>
            <br>
            <b>7.2 </b>From the first day of a sickness absence, the University will typically
            pay sick pay in accordance with the following rules.

        <table>
            <tr>
                <td><b>Length of Service</b></td>
                <td><b>Full Pay</b></td>

            </tr>
            <tr>
                <td>First 3 months of service</td>
                <td>2 weeks</td>
            </tr>
            <tr>
                <td>Remaining 9 months of first year of service</td>
                <td>9 weeks</td>
            </tr>
            <tr>
                <td>Second and third year of service</td>
                <td>13 weeks</td>
            </tr>
            <tr>
                <td>Fourth and fifth year of service</td>
                <td>22 weeks</td>
            </tr>
            <tr>
                <td>After fifth year of service</td>
                <td>26 weeks </td>
            </tr>
        </table>
        <br>
        <br>
        <b>7.3 </b> The normal rate of pay for a staff member is considered university sick pay.
        Any entitlement to Statutory Sick Pay (SSP) must be paid in addition to half pay but included
        in full pay.
        <br>
        <br>
        <b>7.4 </b> The normal rate of pay for a staff member is considered university sick pay.
        Any entitlement to Statutory Sick Pay (SSP) must be paid in addition to half
        pay but included in full pay.
        <br>
        <br>
        <b>7.5 </b> The normal rate of pay for a staff member is considered university sick pay.
        Any entitlement to Statutory Sick Pay (SSP) must be paid in addition to half
        pay but included in full pay.
        <br>
        <br>
        <b>7.6 </b>The period of service used to determine sick pay eligibility is the amount of
        time that was worked continuously from the date of hire to the first day of absence.
        The effective period of service for determining the allowance due will start on the
        date of re-appointment if a break in continuous service results from resignation
        and re-employment.
        <b>7.7 </b>The length of service as of the first day of absence is used to determine
        eligibility for sick pay. For any days of paid sick leave taken in the 12
        months prior to the first day of their current absence, deductions will
        be made.
        </p>

        <h2>8. <u>expense</u></h2>
        <p>
            Subject to their compliance with any policy or procedure the University
            may issue from time to time with regard to expenses and their production
            of any necessary evidence of expenses, the University shall reimburse
            staff for all expenses wholly and necessarily incurred by them in
            the proper performance of their duties.
            <br>
            <br>
            Staff must obtain full medical insurance if they travel abroad as
            part of their duties. Before departing, staff members should make
            arrangements for insurance with the university's insurance officer.
            Only insurance obtained through the University Scheme is eligible
            for reimbursement.

        </p>

        <h2>9. <u>Copyright and Design</u></h2>
        <p>
            All copyright works including computer software and all designs
            whether registered or unregistered created by staff members alone
            or in collaboration with others during the course of employment
            must be promptly reported to the university. The rights to such
            works or designs shall typically be the property of the University
            in accordance with the provisions of the Copyright, Designs and
            Patents Act 1988 and the Registered Designs Act 1949, as amended.
            Staff members are required to consult with the University so that
            the proper arrangements can be made in the case of the commercial
            exploitation of copyright works (including computer software) and
            designs (whether registered or unregistered) made in the course
            of employment.
            <br>
            <br>
            Staff members must notify the Research and Enterprise Development
            Office and University Secretary of any potential patents, copyright
            claims, and designs through their head of department.
            Staff members must speak with the Registrar and the Research
            and Enterprise Development Office through their head of department
            before signing any contracts with external organizations on the
            university's behalf.
        </p>

        <h2>10. <u>Attire and tools for the job</u></h2>
        <p>
            <b>10.1 </b> If staff are issued with workwear or equipment they:
            <br>
            <br>
            <b>A. </b> must ensure that they use it whenever necessary,
            or as required, and in accordance with the University's
            Health and Safety Policy.
            <br>
            <br>
            <b>B. </b> must tell the University as soon as it needs replacing
            whether due to damage, defect or for any other reasons.
        </p>

        <h2>11. <u>Communication Interception</u></h2>
        <p>
            Under the terms of the Regulation of Investigatory Powers Act of 2000,
            the General Data Protection Regulation [Data Protection Act 2018],
            the Telecommunications [Lawful Business Practice] [Interception of
            Communications] Regulations of 2000, and any other applicable laws
            in effect at the time, the University may, if it considers it reasonable
            in all the circumstances, monitor and record a member of staff's
            communications [including but not limited to emails, instant messages,
            and telephone calls].
        </p>

        <h2>12. <u>Procedures for discipline, dismissal, and grievances</u></h2>
        <p>
            <b>12.1 </b> The relevant Ordinances outline the University's
            disciplinary, dismissal, and grievance procedures.
            The terms and conditions of your employment do not
            include these procedures.
            <b>12.2 </b> The applicable Ordinances outline the disciplinary,
            dismissal, and grievance processes at the University.
            Your employment terms and conditions do not include
            these procedures.
        </p>

        <h2>13. <u>Data security</u></h2>
        <p>
            Staff members give their consent for the University
            [or any agent thereof] to process their personal data
            for the purposes of providing employment services,
            for the administration and management of the University's
            business, and to make sure that all laws, regulations,
            and policies are followed. You can read more about
            how the university manages the personal data of its
            employees here:
        </p>

        <h2>14. <u>Guidelines and practices</u></h2>
        <p>
            Staff are expected to abide by all University employee rules,
            regulations, statutes, ordinances, procedures, policies,
            and codes of practice throughout the course of their
            employment [including, but not limited to, those pertaining
            to health and safety, the use of computers, and data protection].
        </p>

        <h2>15. <u>Individual agreements</u></h2>
        <p>
            Human Resources can provide you with information on a number of
            collective agreements that might affect your ability to find work.
            Visit the website or contact Human Resources to obtain hard copies.
            These terms and conditions have been decided upon in conjunction with
            the recognized Trade Unions. Sometimes the terms and conditions of
            employment change as a result of agreements reached at the national and
            local levels.
        </p>

        <h2>16. <u>complete agreement</u></h2>
        <p>
            The terms and conditions under which staff members are employed by the
            University are outlined in this Agreement, the member of staff's offer letter,
            and the Particular Terms that are annexed to this Agreement. This Agreement
            shall replace and supersede any prior arrangement or understanding
            (whether oral or written) relating to employment between the parties.
            While policies and procedures found in the University's Ordinances are
            mentioned in this Agreement, staff members should be aware that they do not
            form a part of their terms and conditions of employment. The University's
            website for human resources also contains other policies and procedures
            hat are mentioned in this Agreement.
        </p>
        </p>
        <br>
        <br>

        <button class="close1">
            <a href="submit.html">
                <i class="fa fa-times close-btn"></i> Close
            </a>
        </button>
        <br>
        <br>
        <br>

    </div>
    <hr>
</body>

</html>